:root {
  --primary-color: #2E2F42;
  --secondary-color: #404BBF;
  --slate-color: #434455;
  --iris-color: #4D5AE5;
  --white-color: #FFFFFF;
  --cloud-color: #F4F4FD;
  --corner-color: #E7E9FC;
  --transition-hover: all 0.3s ease-in-out;
  --max-width: 1158px;
  --font-stack: "Roboto", Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-stack);
    font-size: 16px;
    color: var(--primary-color);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
    width: 100%;
}

.button {
    display: block;
    padding: 16px 32px;
    background-color: var(--iris-color);
    color: var(--white-color);
    border: none;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: var(--transition-hover);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.title-secondary {
    width: 100%;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.72px;
    color: var(--primary-color);
    margin-bottom: 24px;
    text-align: center;
}

.text {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin: 0;
}

.sub-title {
    margin: 0 0 8px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.header {
    width: 100%;
}

.header-wrapper {
    padding: 25.5px 0;
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 76px;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.logotype {
    display: inline-block;
    transition: var(--transition-hover);
}

.logotype:hover {
    transform: scale(1.05);
}

.header-contacts li a,
.header-menu li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: var(--transition-hover);
}

.header-contacts li a {
    color: var(--slate-color);
    font-weight: 400;
}

.header-contacts li a:hover,
.header-menu li a:hover {
    color: var(--secondary-color);
}

.header-contacts {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.hero {
    padding: 188px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.hero h1 {
    max-width: 500px;
    margin: 0 0 48px;
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.12px;
}

.values-list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 72px 0 0;
}

.values-list li {
    width: 25%;
}   

.cloud {
    background-color: var(--cloud-color);
}

.portfolio-list {
    flex-wrap: wrap;
}

.portfolio-list,
.team-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 72px 0 0;
    display: flex;
    gap: 24px;
}

.team-list li {
    width: 25%;
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    background: var(--white-color);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list li {
    width: 31.5%;
    border-right: 1px solid var(--corner-color);
    border-bottom: 1px solid var(--corner-color);
    border-left: 1px solid var(--corner-color);
}

.portfolio-list li img,
.team-list li img {
    width: 100%;
    height: auto;
}

.team-list li h3.sub-title {
    margin: 32px 0 8px;
    text-align: center;
}

.team-list li p.text {
    margin: 0 0 32px;
    text-align: center;
}

.portfolio-list li h3.sub-title {
    margin: 32px 0 8px 15px;
}

.portfolio-list li p.text {
    margin: 0 0 32px 15px;
}

.footer {
    padding: 100px 0;
    width: 100%;
    background-color: var(--primary-color);
}

.footer p {
    max-width: 285px;
    margin: 16px 0 0;
    color: var(--white-color);
}